geocoder:
  build: geocoder
  links:
    - lines
    - points
    - parser
  ports:
    - "8080:8080"
  environment:
    GRASSHOPPER_ADDRESSPOINTS_HOST: points
    GRASSHOPPER_ADDRESSPOINTS_PORT: 8081
    GRASSHOPPER_CENSUS_HOST: lines
    GRASSHOPPER_CENSUS_PORT: 8082
    GRASSHOPPER_PARSER_HOST: parser
    GRASSHOPPER_PARSER_PORT: 5000

lines:
  build: census
  links: 
    - elasticsearch
  ports:
    - "8082:8082"
  environment: &ES_JAVA_ENV
    ELASTICSEARCH_HOST: elasticsearch

    # Must override this PORT as Docker Compose autogenerates an envvar by the
    # same name, but of the format: tcp://172.17.1.146:9200.
    # Also, ES Java client uses port 9300, not REST API port 9200.
    ELASTICSEARCH_PORT: 9300

points:
  build: addresspoints
  links: 
    - elasticsearch
  ports:
    - "8081:8081"
  environment: *ES_JAVA_ENV

parser:
  build: ../grasshopper-parser
  ports:
    - "5000:5000"

loader:
  build: ../grasshopper-loader
  links:
    - elasticsearch
  #command: ./grasshopper-loader.js -d test/data/new_york.json

# Must be named "elasticsearch" to create expected ELASTICSEARCH_* envvars
elasticsearch:
  image: elasticsearch

ui:
  build: ../grasshopper-ui
  ports:
    - "80:80"
  links:
    - geocoder
    - lines
    - points
    - parser

cadvisor:
  image: google/cadvisor
  ports:
    - "9090:8080"
  volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro

# Logspout setup taken from:
#   https://github.com/gliderlabs/logspout#route-all-container-output-to-remote-syslog
logspout:
  image: gliderlabs/logspout
  ports:
    - "8000:8000"
  volumes: 
    - /var/run/docker.sock:/tmp/docker.sock
  links:
    - logstash
  command: syslog://logstash:5514

logstash:
  image: logstash
  expose:
    - 5514
  links:
    - elasticsearch
  command: >
    logstash -e '
    input { tcp { port => 5514 type => syslog } udp { port => 5514 type => syslog } } 
    filter {
      if [type] == "syslog" {
        grok {
          match => { "message" => "%{SYSLOG5424PRI}%{NONNEGINT:ver} +(?:%{TIMESTAMP_ISO8601:ts}|-) +(?:%{HOSTNAME:containerid}|-) +(?:%{NOTSPACE:containername}|-) +(?:%{NOTSPACE:proc}|-) +(?:%{WORD:msgid}|-) +(?:%{SYSLOG5424SD:sd}|-|) +%{GREEDYDATA:msg}" }
        }
        syslog_pri { }
        date {
          match => [ "syslog_timestamp", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss" ]
        }
        if !("_grokparsefailure" in [tags]) {
          mutate {
            replace => [ "@source_host", "%{syslog_hostname}" ]
            replace => [ "@message", "%{syslog_message}" ]
          }
        }
        mutate {
          remove_field => [ "syslog_hostname", "syslog_message", "syslog_timestamp" ]
        }
      }
    }
    output { elasticsearch { host => "elasticsearch" } }'

kibana:
  image: marcbachmann/kibana4
  links:
    - elasticsearch
  ports:
    - "5601:5601"

